### 練習11：檢查數字是奇數還是偶數

#### 輸出

* 輸入一個整數: 43
> 43 是奇數

* 輸入一個整數: 18
> 18 是偶數

### 練習12：檢查是否閏年

#### 閏年規則
1. 若西元年被 4 整除，則為閏年
1. 承上，但若西元年被 100 整除，則不為閏年
1. 承上，但若西元年被 400 整除，則為閏年

#### 輸出

2017 不是閏年
1900 不是閏年
2012 是閏年
2000 是閏年

### 練習13：找到三個數字中的最大數

* 變數
  * num1 = 10
  * num2 = 14
  * num3 = 12

#### 輸出
> 最大數為 14

### 練習14：檢查是否質數

* 設定旗標值
  * isprime = False
* 輸入整數 n
#### 輸出

> n 是質數

> n 不是質數

### 練習15：間隔印出所有質數

#### 輸出

下列是 900 與 1000 之間的質數：
907
911
919
929
937
941
947
953
967
971
977
983
991
997

### 練習16：計算數字的階層

#### 7! = 1 * 2 * 3 * 4 * 5 * 6 * 7

* 0! 定義為 1

#### 運用**迴圈**計算階層
* 輸出

> 7! = 5040

#### 運用**遞迴**計算階層
* 輸出

> 7! = 5040

### 練習17：顯示乘法表

#### 輸出

輸入數字：12
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

### 練習18：列印 Fibonacci 數列

#### 輸出

顯示前幾項？ 7
費氏數列：
0
1
1
2
3
5
8

### 練習19：查 Armstrong 數

正整數被稱為 *Armstrong 數*，若：

1. $ abcd... = a^{n} + b^{n} + c^{n} + d^{n} + ... $
1. 以三位數來說，若各位數的 3 次方和等於該數字本身，則該數即為 *Armstrong 數*
  * 例：$ 153 = 1*1*1 + 5*5*5 + 3*3*3 $ ，153 是一 *Armstrong 數*。

### 練習20：間隔中查找 Armstrong 數

* 輸入
  * 下界 = 100
  * 上界 = 2000

#### 輸出

153
370
371
407
1634